@import url("./conteiner-style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
}

.dark_mode {
  background-color: black;
  color: white;
}

#modeDark {
  display: none;
}

.teste {
  border: 1px solid blueviolet;
}
